body {
  background-color: #7bba77;
}

.top-header {
  margin: 40px auto;
  text-align: center;
  color: white;
}

#security-system-container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(220, 220, 220);
  border: 1px solid black;
}

button {
  font-size: 14.5px;
  background-color: rgba(252, 252, 252);
}

#house {
  width: 1000px;
  height: 750px;
  margin: 50px auto;
  background-color: #efefef;
  border: 1px solid black;
}

#house h2 {
  width: 100%;
  text-align: center;
}

.door-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.door {
  width: 100px;
  height: 200px;
  flex-wrap: wrap;
  margin: 20px;
  background-color: brown;
}

.door h4 {
  text-align: center;
  color: white;
}

.door.unlocked {
  background-color: green;
}

.window-wrapper {
  display: flex;
  justify-content: center;
}

.window {
  width: 140px;
  height: 100px;
  flex-wrap: wrap;
  margin: 20px;
  background-color: darkblue;
}

.window h4 {
  text-align: center;
  color: white;
}

.window.unlocked {
  background-color: lightblue;
}