.top-header {
  margin: 100px auto;
  text-align: center;
}

#house {
  display: flex;
  width: 1000px;
  height: 750px;
  margin: 100px auto;
  justify-content: center;
  border: 1px solid black;
}

.door {
  display: inline-block;
  height: 200px;
  flex-basis: 20%;
  margin: 20px;
  background-color: brown;
}

.door h3 {
  text-align: center;
  color: white;
}